@model ResetPasswordVM
<main>
    <div class="mb-4 pb-4"></div>
    <section class="login-register container">
        <h2 class="section-title text-center fs-3 mb-xl-5">Reset Your Password</h2>
        <p>We will send you an email to reset your password</p>
        <div class="reset-form">
            @Html.ValidationSummary(true, "");
            <form method="post" asp-action="ResetPassword" asp-controller="Account" class="needs-validation" novalidate>
               <input type="hidden" asp-for="Email" value="@Model.Email"/>
               <input type="hidden" asp-for="Token" value="@Model.Token" />

                <div class="form-floating mb-3">
                    <input asp-for="Password" type="password" class="form-control form-control_gray" placeholder="password *" required>
                    <label for="customerNameEmailInput">Password *</label>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="ConfirmPassword" type="password" class="form-control form-control_gray" placeholder="confirm password *" required>
                    <label for="customerNameEmailInput">Confirm Password *</label>
                </div>

                <button type="submit" class="btn btn-primary w-100 text-uppercase">Submit</button>

                <div class="customer-option mt-4 text-center">
                    <span class="text-secondary">Back to</span>
                    <a asp-action="Register" class="btn-text js-show-register">Register</a>
                </div>
            </form>
        </div>
    </section>
</main>

<div class="mb-5 pb-xl-5"></div>